PORT=3333
HOST=0.0.0.0
NODE_ENV=production
APP_KEY=O_2h-WEODgZnHdCXU8VAqD8ainhYvuxo
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=dev
MYSQL_PASSWORD=jeune_agro
MYSQL_DB_NAME=jeune_agropreneur
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=minodevpro@gmail.com
SMTP_PASSWORD=gxtaqgndfwcaoxre
CACHE_VIEWS=false

